<!-- extend base layout -->
{% extends"bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<link rel="stylesheet" href="/static/style.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js">
    $(document).ready ( function () {
    $(document).on ("click", "find_past_attempts", function (e) {
        if(e.target.type =="button")
        {
            url_redirect({url: "/past_attempts/results",
                            method: "post",
                            data: {"attempt_id": e.target.id}
                         });
        }
    });
});
</script>

<p style="color:green">{{ message }}</p>

<div class="container">
<h3>Зарегистрировать пользователя</h3>
    <a href="/past_attempts">Прошлые попытки</a>
    <form action="" method="POST" name="registration">
        {{ form_reg.hidden_tag() }}
    <p>
        {{ wtf.form_field(form_reg.name) }}<br>
        {{ wtf.form_field(form_reg.second_name) }}<br>
        {{ wtf.form_field(form_reg.surname) }}<br>
        {{ wtf.form_field(form_reg.login) }}<br>
        {{ wtf.form_field(form_reg.password) }}<br>
    </p>
    <p>{{ wtf.form_field(form_reg.password_repeat) }} </p>
    <p><input type="submit" value="Зарегистрировать"></p>
</form>
</div>
<hr>

{% endblock %}


